# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here

In [7]:
import pandas as pd

"""
Load the data from the three CSV files
"""
url1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

file1 = pd.read_csv(url1)
file2 = pd.read_csv(url2)
file3 = pd.read_csv(url3)

In [9]:
# checcking the first few rows of each dataset to inspect the data structure and content
file1.head(), file2.head(), file3.head()

(  Customer          ST GENDER             Education Customer Lifetime Value  \
 0  RB50392  Washington    NaN                Master                     NaN
 1  QZ44356     Arizona      F              Bachelor              697953.59%
 2  AI49188      Nevada      F              Bachelor             1288743.17%
 3  WW63253  California      M              Bachelor              764586.18%
 4  GA49547  Washington      M  High School or Below              536307.65%

     Income  Monthly Premium Auto Number of Open Complaints     Policy Type  \
 0      0.0                1000.0                    1/0/00   Personal Auto
 1      0.0                  94.0                    1/0/00   Personal Auto
 2  48767.0                 108.0                    1/0/00   Personal Auto
 3      0.0                 106.0                    1/0/00  Corporate Auto
 4  36357.0                  68.0                    1/0/00   Personal Auto

    Vehicle Class  Total Claim Amount
 0  Four-Door Car            2.704934
 1  Four-Door Car         1131.464935
 2   Two-Door Car          566.472247
 3            SUV          529.881344
 4  Four-Door Car           17.269323  ,
   Customer          ST GENDER Education Customer Lifetime Value  Income  \
 0  GS98873     Arizona      F  Bachelor              323912.47%   16061
 1  CW49887  California      F    Master              462680.11%   79487
 2  MY31220  California      F   College              899704.02%   54230
 3  UH35128      Oregon      F   College             2580706.30%   71210
 4  WH52799     Arizona      F   College              380812.21%   94903

    Monthly Premium Auto Number of Open Complaints  Total Claim Amount  \
 0                    88                    1/0/00               633.6
 1                   114                    1/0/00               547.2
 2                   112                    1/0/00               537.6
 3                   214                    1/1/00              1027.2
 4                    94                    1/0/00               451.2

       Policy Type  Vehicle Class
 0   Personal Auto  Four-Door Car
 1    Special Auto            SUV
 2   Personal Auto   Two-Door Car
 3   Personal Auto     Luxury Car
 4  Corporate Auto   Two-Door Car  ,
   Customer       State  Customer Lifetime Value             Education Gender  \
 0  SA25987  Washington              3479.137523  High School or Below      M
 1  TB86706     Arizona              2502.637401                Master      M
 2  ZL73902      Nevada              3265.156348              Bachelor      F
 3  KX23516  California              4455.843406  High School or Below      F
 4  FN77294  California              7704.958480  High School or Below      M

    Income  Monthly Premium Auto  Number of Open Complaints    Policy Type  \
 0       0                   104                          0  Personal Auto
 1       0                    66                          0  Personal Auto
 2   25820                    82                          0  Personal Auto
 3       0                   121                          0  Personal Auto
 4   30366                   101                          2  Personal Auto

    Total Claim Amount  Vehicle Class
 0          499.200000   Two-Door Car
 1            3.468912   Two-Door Car
 2          393.600000  Four-Door Car
 3          699.615192            SUV
 4          484.800000            SUV  )

In [41]:
def clean_data(df):
    """
    Cleans the dataset by performing operations such as:
    - Removing duplicates
    - Filling or dropping missing values
    - Standardizing column names
    - Fixing data types
    """
    # Standardizing column names
    df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

    # Removing duplicates
    df = df.drop_duplicates()

    # Handling missing values (example: filling with 'unknown' or dropping rows)
    df = df.fillna('unknown')

    # Fixing data types (example: ensuring numeric columns are correctly typed)
    for col in df.select_dtypes(include=['object']).columns:
        if df[col].str.isnumeric().all():
            df[col] = pd.to_numeric(df[col])

    return df

# Load the data
file1 = pd.read_csv("file1.csv")
file2 = pd.read_csv("file2.csv")
file3 = pd.read_csv("file3.csv")

# Clean each dataset
file1_cleaned = clean_data(file1)
file2_cleaned = clean_data(file2)
file3_cleaned = clean_data(file3)

# Combine the cleaned datasets
combined_data = pd.concat([file1_cleaned, file2_cleaned, file3_cleaned], ignore_index=True)

# Perform a final cleaning on the combined dataset
final_cleaned_data = clean_data(combined_data)

# Save the final cleaned dataset to a CSV file
final_cleaned_data.to_csv("final_cleaned_data.csv", index=False)

print("Data cleaning and combination complete. The final dataset has been saved as 'final_cleaned_data.csv'.")

FileNotFoundError: [Errno 2] No such file or directory: 'file1.csv'

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

In [15]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)

In [17]:
print(df.columns)

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [21]:

df = pd.read_csv(url)

# Fill missing numerical values with the median for relevant columns
numerical_columns = ['customer_lifetime_value', 'income', 'monthly_premium_auto', 
                     'months_since_last_claim', 'months_since_policy_inception', 
                     'number_of_open_complaints', 'number_of_policies', 'total_claim_amount']

# Loop through numerical columns and fill missing values with their respective medians
for column in numerical_columns:
    if column in df.columns:
        df[column] = df[column].fillna(df[column].median())

# Drop duplicates
df = df.drop_duplicates()

# Verify the result
print(df.head())

   unnamed:_0 customer       state  customer_lifetime_value response  \
0           0  DK49336     Arizona              4809.216960       No
1           1  KX64629  California              2228.525238       No
2           2  LZ68649  Washington             14947.917300       No
3           3  XL78013      Oregon             22332.439460      Yes
4           4  QA50777      Oregon              9025.067525       No

   coverage education effective_to_date employmentstatus gender  ...  \
0     Basic   College        2011-02-18         Employed      M  ...
1     Basic   College        2011-01-18       Unemployed      F  ...
2     Basic  Bachelor        2011-02-10         Employed      M  ...
3  Extended   College        2011-01-11         Employed      M  ...
4   Premium  Bachelor        2011-01-17    Medical Leave      F  ...

   number_of_policies     policy_type        policy  renew_offer_type  \
0                   9  Corporate Auto  Corporate L3            Offer3
1                   1   Personal Auto   Personal L3            Offer4
2                   2   Personal Auto   Personal L3            Offer3
3                   2  Corporate Auto  Corporate L3            Offer2
4                   7   Personal Auto   Personal L2            Offer1

   sales_channel  total_claim_amount  vehicle_class  vehicle_size  \
0          Agent          292.800000  Four-Door Car       Medsize
1    Call Center          744.924331  Four-Door Car       Medsize
2    Call Center          480.000000            SUV       Medsize
3         Branch          484.013411  Four-Door Car       Medsize
4         Branch          707.925645  Four-Door Car       Medsize

  vehicle_type month
0            A     2
1            A     1
2            A     2
3            A     1
4            A     1

[5 rows x 27 columns]

In [ ]:
#You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, 
#create a summary table showing the total revenue for each sales channel (branch, call center, web, and email). 
#Round the total revenue to 2 decimal points. Analyze the resulting table to draw insights.

In [25]:
import pandas as pd
# Create a pivot table to summarize total revenue for each sales channel
pivot_table = df.pivot_table(
    index='sales_channel',
    values='total_claim_amount',
    aggfunc='sum'
).round(2)

# Resetting the index for better readability
pivot_table = pivot_table.reset_index()
pivot_table.columns = ['Sales Channel', 'Total Revenue']

# Display the summary table
print(pivot_table)

# Sort the pivot table by total revenue in descending order for insights
sorted_pivot_table = pivot_table.sort_values(by='Total Revenue', ascending=False)
print("\nSorted Revenue Table (Descending):\n", sorted_pivot_table)

  Sales Channel  Total Revenue
0         Agent     1810226.82
1        Branch     1301204.00
2   Call Center      926600.82
3           Web      706600.04

Sorted Revenue Table (Descending):
   Sales Channel  Total Revenue
0         Agent     1810226.82
1        Branch     1301204.00
2   Call Center      926600.82
3           Web      706600.04

In [ ]:
#Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [29]:
# pivot table to show the average customer lifetime value per gender and education level
pivot_table = df.pivot_table(
    index='gender',
    columns='education',
    values='customer_lifetime_value',
    aggfunc='mean'
).round(2)

pivot_table = pivot_table.reset_index()

# Display the pivot table
print(pivot_table)

education gender  Bachelor  College   Doctor  High School or Below   Master
0              F   7874.27  7748.82  7328.51               8675.22  8157.05
1              M   7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here

In [39]:
# Create a summary table showing the number of complaints by policy type and month in a long format
summary_table = df.pivot_table(
    index='policy_type',
    columns='month',
    values='number_of_open_complaints',
    aggfunc='sum'
).reset_index()

# Convert the table to long format
long_format_table = pd.melt(
    summary_table,
    id_vars=['policy_type'],
    var_name='Month',
    value_name='Number of Complaints'
)

# Display the long format table
print(long_format_table)

      policy_type Month  Number of Complaints
0  Corporate Auto     1            443.434952
1   Personal Auto     1           1727.605722
2    Special Auto     1             87.074049
3  Corporate Auto     2            385.208135
4   Personal Auto     2           1453.684441
5    Special Auto     2             95.226817